.btn-roxo {
    background-color: #8A05BE;
    border-color: #8A05BE;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btn-roxo:hover {
    background-color: #7A04AB;
    border-color: #7A04AB;
    transform: scale(1.05);
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}