<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-auto pr-3">
            <button class="btn btn-danger mb-3" (click)="logout()">Sair</button>
        </div>
    </div>
</div>